html {
  height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
nav{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
.navbar{
  margin-bottom: 0;
}
.homepage-video {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.video-container {
  position: relative;
}
.video-arrow-container {
	position: absolute;
	bottom: 20%;
	width: 100%;
	font-size: 40px;
}
.video-arrow-container span {
	color: #fff;
}
.video-arrow-container a:hover {
	text-decoration: none;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.arrow{
  display: block;
  text-align: center;
  z-index: 2;
}
.carousel .item {
    width: 100%;
}
.carousel .item img {
    width: 100%;
}
.fish-info:hover{
  color: red;
}
#whycarp:hover{
  cursor: pointer;
}
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
@media (min-width: 768px) {
    .container{
      width: inherit;
    }
}
